@use "sass:map";
@use "@oslokommune/punkt-css/dist/scss/abstracts/variables" with
  ($font-path: "@oslokommune/punkt-assets/dist");

@use "@oslokommune/punkt-css/dist/scss/abstracts/mixins" as *;

@use "@oslokommune/punkt-css/dist/scss/pkt" as *;

.pkt-main {
  margin-top: 1.125rem;
  margin-bottom: 4rem;

  @include bp("tablet-up") {
    margin-top: 3.125rem;
    margin-bottom: 6.5rem;
  }
}

p {
  margin-bottom: 1rem;
  max-width: 850px;
}

.pkt-table {
  max-width: 850px;
}
